/* reset our CSS */
body,
html {
  margin: 0;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}

/* page layout */

body {
  display: grid;
  background: #aaaaaa;
  grid-template-columns: 300px 1fr;
  overflow: hidden;
}

#interface {
  background: #333;
  color: #fff;
  height: 100vh;
  padding: 15px;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#sketch {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* ui styling */

input {
  width: 100%;
}

.ui-group {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  margin-bottom: 1.5rem;
}

.ui-element {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* button styling */
button {
  font-family: sans-serif;
  font-size: 1rem;
  background-color: #fff;
  color: #000;
  border: none;
  padding: 0.6rem 0.9rem;
  cursor: pointer;
  border-radius: 2rem;
  transition:
    background-color 0.15s ease-out,
    color 0.15s ease-out,
    opacity 0.15s ease-out;
}

/* video buttons */
.video-button-wrapper {
  position: relative;
}

.video-button-wrapper button.visible {
  pointer-events: auto;
}

.video-button-wrapper button {
  position: relative;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  opacity: 1;
  pointer-events: none;
}

.video-button-wrapper button.stop {
  position: absolute;
  background: #ed593d;
  animation: cursor-blink 1s infinite;
}

@keyframes cursor-blink {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}

.video-button-wrapper button:not(.visible) {
  z-index: 0;
  opacity: 0;
}